.gallery{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

// .photo-card{
// }

.photo-card{
    width: calc((100% - 30px) / 4);
}

.photo-card img{
    width: 100%;
}

.info{
    display: flex;
    justify-content: space-between;
}